*,*::before, *::after {
    box-sizing: border-box;
}

:root{
  /* Colors */
  --clr-primary-soft-blue: hsl(215, 51%, 70%);
  --clr-primary-cyan: hsl(178, 100%, 50%);

  --clr-neutral-main-bg: hsl(217, 54%, 11%);
  --clr-neutral-card-bg: hsl(216, 50%, 16%);
  --clr-neutral-line: hsl(215, 32%, 27%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  /* Typography */
  --fs-body: 18px;

  --ff-base: "Outfit", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;

  /* Spacing (optional but recommended) */
  --radius-card: 15px;
  --radius-img: 8px;
}

body {
    font-family: var(--ff-base);
    margin:0;
    font-size: var(--fs-body);
}

main {
    min-height: 100vh;
    background-color: var(--clr-neutral-main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--clr-neutral-card-bg);
    width: 85%;
    max-width: 22rem;
    padding: 1.5rem;
    border-radius: var(--radius-card);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 
        0 25px 50px rgba(0,0,0,0.25),
        0 10px 20px rgba(0,0,0,0.15);
}

.preview-image {
    border-radius: var(--radius-img);
    position: relative;
    overflow: hidden;
}

.preview-image img {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;
    inset:0;

    background-color: hsl(178 100% 50% / 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay img {
    width: 3rem;
}

.preview-image:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

p, h1 {
    margin:0;
}

a {
    text-decoration: none;
    color: inherit;
}

.preview-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-description{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.content-description h1{
    color: var(--clr-neutral-white);
    font-weight: var(--fw-semibold);
    font-size: 1.375rem;;
}

.content-description h1:hover{
    color: var(--clr-primary-cyan);
    cursor: pointer;
}

.content-description p {
    color: var(--clr-primary-soft-blue);
    font-weight: var(--fw-light);
    line-height: 1.6;
}

.days-left {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.days-left .price {
    color: var(--clr-primary-cyan);
    font-weight: var(--fw-semibold);
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.days-left .time-left {
    color: var(--clr-primary-soft-blue);
    font-weight: var(--fw-regular);
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.divider {
    border: none;
    height: 1px;
    background-color: var(--clr-neutral-line);
    margin: 0;
}

.author {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--clr-primary-soft-blue);
    font-size: 1rem;
    font-weight: var(--fw-light);
}

.author img {
    display: block;
    width: 2.2rem;
    aspect-ratio: 1/1;
    border: 2px solid var(--clr-neutral-white);
    border-radius: 50%;
}

.author-name {
    color: var(--clr-neutral-white);
    font-weight: var(--fw-regular);
}

.author-name:hover {
    color: var(--clr-primary-cyan);
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
